@import uk.gov.nationalarchives.omega.editorial.models.{ EditSet, EditSetEntry }

@(title: String, heading: String, editSet: EditSet)

@template(title) {
 <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">@heading</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">CCR</th>
      <th scope="col" class="govuk-table__header">Scope and Content</th>
      <th scope="col" class="govuk-table__header">Covering Dates</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @for(entry <- editSet.entries) {
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">@entry.ccr</td>
      <td class="govuk-table__cell">@entry.scopeAndContent</td>
      <td class="govuk-table__cell">@entry.coveringDates</td>
    </tr>
    }
    </tbody>
  </table>
}
