@import helper._
@import uk.gov.nationalarchives.omega.editorial.models.Credentials

@(title: String, heading: String, credentialsForm: Form[Credentials])(implicit messages: Messages, request: Request[AnyContent])

@template(title) {

  @if(credentialsForm.hasErrors) {
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        @if(credentialsForm.hasGlobalErrors) {
          @for(error <- credentialsForm.errors) {
              <li>@error.message</li>
          }
        }
      </ul>
    </div>
  </div>
  }
  @helper.form(action = uk.gov.nationalarchives.omega.editorial.controllers.routes.LoginController.submit()) {
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <fieldset class="govuk-fieldset">
          @CSRF.formField
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              @heading
            </h1>
          </legend>

          <div class="govuk-form-group @if(credentialsForm.error("username")) {govuk-form-group--error}">
            @if(credentialsForm.error("username")){
                <p id="username-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> @credentialsForm.error("username").map(_.message)
                </p>
            }

            <label class="govuk-label govuk-label--s" for="username">
              @messages("login.username.label")
            </label>
            <input class="govuk-input" id="username" name="username" type="text" autofocus="autofocus" value="@credentialsForm.data.get("username")">
          </div>

          <div class="govuk-form-group  @if(credentialsForm.error("password")){govuk-form-group--error}">
          @if(credentialsForm.error("password")){
            <p id="password-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> @credentialsForm.error("password").map(_.message)
            </p>
          }
            <label class="govuk-label govuk-label--s" for="password">
              @messages("login.password.label")
            </label>
            <input class="govuk-input" id="password" name="password" type="password" value="@credentialsForm.data.get("password")">
          </div>
          <button class="govuk-button" data-module="govuk-button">
            @messages("login.button.text")
          </button>
        </fieldset>
    </div>
  </div>
  }
}
