@import helper._
@import uk.gov.nationalarchives.omega.editorial.models.Credentials

@(title: String, heading: String, credentialsForm: Form[Credentials])(implicit messages: Messages, request: Request[AnyContent])

credentialsForm.errors
credentialsForm.errors


@template(title) {
  <h1>@heading</h1>

  @helper.form(action = uk.gov.nationalarchives.omega.editorial.controllers.routes.LoginController.submit) {
    @CSRF.formField
    <div class="govuk-form-group">
      @if(credentialsForm.error("username")){<h1>There was a username error</h1>}
      @if(credentialsForm.error("password")){<h1>There was a password error</h1>}
      <label class="govuk-label govuk-label--s" for="username">
        @messages("login.username.label")
      </label>
      <input class="govuk-input" id="username" name="username" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="password">
        @messages("login.password.label")
      </label>
      <input class="govuk-input" id="password" name="password" type="password">
    </div>

    <button class="govuk-button" data-module="govuk-button">
      @messages("login.button.text")
    </button>
  }
}

