@import "settings";

@import "lib/govuk-frontend/govuk/all";

.govuk-header {
  background: #26262a;
}

.govuk-header__container {
  border-bottom-color: #555;
}

.govuk-header__signout {
  float: right;
}

.govuk-header__signout > a {
  color: white;
  text-decoration: none;
}

.hidden {
  display: none;
}

.govuk-width-container {
    max-width: 70em;
}